body {
  background-color: darkblue;
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  background-color: cornflowerblue;
  padding: 20px 10px;
}

.header-left {
  float: left;
  color: black;
  text-align: center;
  padding: 0px 20px;
}

.header-right {
  float: right;
  padding: 0px 20px;
}

@media screen and (max-width: 500px) {
  .header-left {
    float: none;
    display: block;
  }
  .header-right {
    float: none;
  }
}

.content {
  overflow: hidden;
  background-color: darkblue;
  padding: 30px;
  font-family: Trebuchet MS;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-44%);
}

.content h1 {
  color: white;
}

.content h2 {
  color: white;
  padding-top: 10px;
}

.stasiun {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.stasiun h3,
p {
  margin-top: 0px;
  font-size: 22px;
  font-weight: bold;
  padding: 10px;
}

#box1 {
  color: black;
  border-radius: 15px;
  background: #fa7d16;
  padding: 10px;
  width: 145px;
  height: 145px;
  margin-right: 140px;
  float: left;
  box-shadow: 2px 4px 13px 0px black;
}
#box1:hover {
  color: whitesmoke;
  box-shadow: 2px 4px 13px 3px darkgray;
}

#box2 {
  color: black;
  border-radius: 15px;
  background: #fa7d16;
  padding: 10px;
  width: 145px;
  height: 145px;
  margin-right: 140px;
  float: left;
  box-shadow: 2px 4px 13px 0px black;
}
#box2:hover {
  color: whitesmoke;
  box-shadow: 2px 4px 13px 3px darkgray;
}

#box3 {
  color: black;
  border-radius: 15px;
  background: #fa7d16;
  padding: 10px;
  width: 145px;
  height: 145px;
  float: left;
  box-shadow: 2px 4px 13px 0px black;
}
#box3:hover {
  color: whitesmoke;
  box-shadow: 2px 4px 13px 3px darkgray;
}
