body {
  /* overflow-y: hidden; */
  overflow-y: hidden;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("Background-Peron.jpg");
  background-size: cover;
}
#container {
  min-height: 100%;
  position: relative;
}
td {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
.jalur {
  font-size: 68px;
}
.isi {
  color: rgba(255, 255, 255, 1);
}
tr .isi {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}
tr {
  background-color: rgba(5, 6, 112, 0.8);
  text-align: center;
}
th {
  font-size: 20px;
}
nav {
  overflow: auto;
  color: black;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
}
.nav-desc {
  float: left;
  width: 80%;
}
i {
  height: 20px;
  font-weight: lighter;
}

.logo {
  padding-top: 30px;
  float: left;
  width: 25%;
  align-items: center;
}
.stasiun {
  padding-top: 20px;
  text-align: center;
  float: right;
  width: 75%;
  font-size: 60px;
  font-weight: 800;
}
.hari {
  font-size: 28px;
  font-weight: bold;
  padding-right: 20px;
}
.jam {
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}
.nav-time {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  float: right;
  width: 20%;
}
main {
  overflow: auto;
}
.featured-image {
  max-height: 60px;
  vertical-align: middle;
  padding-left: 20px;
}
footer {
  margin-top: 10px;
  padding: 0.1px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  bottom: 0pt;
  font-size: 25px;
  font-weight: bold;
}
