body {
  overflow-x: hidden;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
}
h2 {
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.samar {
  font-weight: lighter;
  color: dimgray;
}
#container {
  min-height: 100%;
  position: relative;
}
td {
  border-bottom: 1px black solid;
}
.link {
  overflow: auto;
  color: black;
  padding: 1%;
}

.konten {
  overflow: auto;
  color: black;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}
.upper {
  text-transform: uppercase;
}
.form {
  float: left;
  width: 20%;
  padding-left: 1%;
  text-align: center;
}
.side-link {
  float: left;
  width: 20%;
  padding-left: 1%;
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  margin: 1%;
}
.jadwal {
  float: right;
  width: 74%;
  padding-right: 1%;
}
.isi {
  color: rgba(255, 255, 255, 1);
}
tr .isi {
  color: rgba(255, 255, 255, 1);
  opacity: 1;
}
tr {
  text-align: center;
}
th {
  background-color: #ee6b1e;
}
nav {
  overflow: auto;
  color: black;
  margin-bottom: 10px;
}
.nav-desc {
  float: left;
  width: 80%;
}
i {
  height: 20px;
  font-weight: lighter;
}

.logo {
  padding-top: 30px;
  float: left;
  width: 25%;
  align-items: center;
}

.stasiun {
  padding-top: 20px;
  text-align: center;
  float: right;
  width: 75%;
  font-size: 45px;
  font-weight: 800;
}
.hari {
  font-size: 28px;
  font-weight: bold;
  padding-right: 20px;
}
.jam {
  font-size: 30px;
  font-weight: bold;
  padding-right: 20px;
}
.nav-time {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: right;
  float: right;
  width: 20%;
}
main {
  overflow: auto;
}
.import {
  width: 100%;
  border-radius: 5px;
  margin: 1%;
}
.featured-image {
  max-height: 60px;
  vertical-align: middle;
  padding-left: 20px;
}
.side-link .tombol-hapus {
  background: #dc3545;
  width: 100%;
  color: white;
  border: 0px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 12px;
  text-decoration: none;
}
.side-link .tombol-tambah {
  background: #2c97df;
  width: 100%;
  color: white;
  border: 0px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px 12px;
  text-decoration: none;
}
.tombol-hapus {
  background: #dc3545;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 4px 8px;
  text-decoration: none;
}
.search {
  width: 100%;
  padding: 1%;
}
.import .tombol-link {
  margin-top: 10px;
}
.tombol-link {
  background: #2c97df;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 4px 8px;
  text-decoration: none;
}

.table-jadwal {
  margin: 0 auto;
  display: block;
  height: 300px;
  overflow-y: scroll;
}
.klik {
  background: #2c97df;
  border-bottom: 0;
}
.submit {
  background: #2c97df;
  color: white;
  border: 0px;
  padding: 5px 10px;
  text-decoration: none;
  width: 100%;
}
footer {
  margin-top: 10px;
  padding: 0.1px;
  text-align: center;
  bottom: 0pt;
}
